<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form method="post" th:action="@{/register}">
    Imię: <input type="text" name="firstName" th:value="${registerForm.firstName}">
    <br>
    Nazwisko: <input type="text" name="lastName">
    <br>
    E-mail: <input type="text" name="email">
    <br>
    Hasło: <input type="password" name="password">
    <br>
    <input type="submit" value="Zarejestruj">
</form>

</body>
</html>